mixin RangeSliders
  .multi-range.flex.flex-col.gap-y-7(class='max-w-[320px]')
    div
      input#lower.relative(type='range', min='0', max='100', value='0', step='0.0001')
      span.absolute 14
      input#upper.bg-color-brands.relative(type='range', min='0', max='100', value='100', step='0.0001')
      span.absolute 85
    .flex.items-center.justify-between
      span(class='ml-[-3px]') 0
      span(class='mr-[-12px]') 100
