{% extends 'layouts/base.html.twig' %}
{% block title %}Starter Page{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block content %}

        {{ component('breadcrumb', { title: 'Pages', pagetitle: 'Starter Page' }) }}

      <h3 class="mb-0">Main Content</h3>
    
{% endblock %}  