footer(class='mt-[37px]')
  .w-full.bg-neutral(class='h-[1px] dark:bg-dark-neutral-border mb-[25px]')
  .flex.items-center.justify-between.text-desc.text-gray-400.flex-wrap.gap-5(class='dark:text-gray-dark-400')
    .flex.items-center.gap-2.flex-wrap
      p 
        span © 2022 -
        span.text-color-brands &nbsp;Frox
        span &nbsp;Dashboard
      .bg-color-brands.rounded-full.hidden(class='w-[2px] h-[2px] md:block')
      p 
        span Made by
        a.text-color-brands(href='https://alithemes.com', target='_blank') &nbsp;AliThemes
    .flex.items-center(class='gap-[15px]')
      a.transition-colors.duration-300(href='#', class='hover:text-color-brands') About
      a.transition-colors.duration-300(href='#', class='hover:text-color-brands') Careers
      a.transition-colors.duration-300(href='#', class='hover:text-color-brands') Policy
      a.transition-colors.duration-300(href='#', class='hover:text-color-brands') Contact
