block mixins
  include ../blocks/mixins/button
  include ../blocks/mixins/badge
  include ../blocks/mixins/breadcrumb
  include ../blocks/mixins/controls
  include ../blocks/mixins/input
  include ../blocks/mixins/range-sliders
  include ../blocks/mixins/section
  include ../blocks/mixins/progress
  include ../blocks/mixins/dropdown
  include ../blocks/mixins/progress
  include ../blocks/mixins/toggle
  include ../blocks/mixins/tabs
  include ../blocks/mixins/table
  include ../blocks/mixins/table
  include ../blocks/mixins/typography
  include ../blocks/mixins/tag
  include ../blocks/mixins/searchBar
  include ../blocks/mixins/sideMenu
  include ../blocks/mixins/badge
  include ../blocks/mixins/themeToggle
  include ../blocks/mixins/tag
  include ../blocks/mixins/avatar
  include ../blocks/mixins/package
  include ../blocks/mixins/paginate
  include ../blocks/mixins/rating
  include ../blocks/mixins/card
  include ../blocks/mixins/chart
  include ../blocks/mixins/modal
  include ../blocks/mixins/divider
  include ../blocks/mixins/icons
