script(type='text/javascript', src='assets/scripts/vendors/jquery-3.6.0.min.js')
script(type='text/javascript', src='assets/scripts/chart-utils.min.js')
script(type='text/javascript', src='assets/scripts/chart.min.js')
script(type='text/javascript', src='https://unpkg.com/chartjs-chart-geo@3')
script(src='assets/scripts/app.js?v=5.0')
